<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <div class="container">
  <a class="navbar-brand" href="{% url "uploader-upload" %}">Upload</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{% url "uploader-submission_list" %}">Submissions</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url "sparql-isparql" %}">Sparql</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url "documentation" %}">Documentation</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
     {% if not user.is_authenticated %}
     <li class="nav-item"><a class="nav-link" href="{% url "account_login" %}">Sign In</a></li>
     {% else %}
     <li class="nav-item"><a class="nav-link" href="{% url "profile" %}">Profile</a></li>
     <li class="nav-item"><a class="nav-link" href="{% url  "account_logout" %}">Logout</a></li>
     {% endif %}
    </ul>
  </div>
  </div>
</nav>
