{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="container">
<div class="content mt-2">
<div class="card mb-4 wow fadeIn">
    <div class="card-body justify-content-between">
        <h4>SPARQL Query Editor</h4>
        <div class="row"> 
            <ul>
                <li>List of submissions <button type="button" class="btn btn-link p-0 mb-1" id="listSubmissionExample">example</button>. </li>
                <li>List submissions for MRSA bacteria <button type="button" class="btn btn-link p-0 mb-1" id="listSarsCovSubmissions">example</button>. </li>
                <li>Get submission details by submission URI <button type="button" class="btn btn-link p-0 mb-1" id="getSubmissionByUriExample">example</button>. </li>
            </ul>
        </div>
        <form action="{% url 'sparql-endpoint' %}" method="get" target="_blank">

            {% regroup form by field.input as field_groups %}
            {% for field_group in field_groups %}
                {% if field_group.grouper == True %}
                    {% for field in field_group.list %} 
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{field.input}}
                        {{ field|add_class:"form-control"}}
                        {{ field.errors }}
                    </div>     
	                {% endfor %}
                {% else %}
                    {% for field in field_group.list %} 
                    <div class="form-group">
                        {{field.input}}
                        {{ field|add_class:"form-check form-check-inline"}}
                        {{ field.label_tag }}
                        {{ field.errors }}
                    </div> 
	                {% endfor %}
                {% endif %}
	        {% endfor %}
            <br />
            <input type="submit" class="btn btn-primary" name="run_query" id="run" value="Run Query"/>
            <button type="button" id="reset" class="btn btn-secondary ml-3">Reset</button>
            <p>&nbsp;</p>
        </form>
    </div>
</div>
</div>
</div>
<script src="{% static "yarn/jquery/dist/jquery.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var example1 = ""
        $('#reset').click(function(){
            $('textarea[name=query]').val('');
         });
         $('#listSubmissionExample').click(function(){ 
            $.get("/isparql/examples", function(data, status){
                if (data) {
                    var listSubmission = JSON.parse(data).listSubmission
                    console.log(example1)
                    $('textarea[name=query]').val(listSubmission);
                }
             }); 
         });
         $('#listSarsCovSubmissions').click(function(){ 
            $.get("/isparql/examples", function(data, status){
                if (data) {
                    var listSarsCovSubmission = JSON.parse(data).listSarsCovSubmission
                    $('textarea[name=query]').val(listSarsCovSubmission);
                }
             }); 
         })
         $('#getSubmissionByUriExample').click(function(){ 
            $.get("/isparql/examples", function(data, status){
                if (data) {
                    var getSubmissionByUri = JSON.parse(data).getSubmissionByUri
                    $('textarea[name=query]').val(getSubmissionByUri);
                }
             }); 
         })
    });
</script>
{% endblock %}